main {
  max-width: 1440px;
}

td, th {
  width: 30%;
  text-align: left;
}

.loader {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border-radius: 50%;
  position: relative;
  animation: circularmove 5s linear infinite;
}

.small-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  right: 18px;
  top: 10px;
}


@keyframes circularmove {
  from { -webkit-transform:rotate(0deg) } 
  to { -webkit-transform:rotate(360deg) }
}

thead th {
  font-size: 22px;
}

table {
  border-collapse: collapse
}

thead {
  background-color: #0000ff1f;
}

tbody tr:nth-child(even) {
  background: aliceblue
}
tbody tr:nth-child(odd) {
  background: #FFF
}

tr {
  height: 50px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    min-width: 440px;
    min-height: 440px;
    padding: 30px;
}